.modal {
    display: none;
    position: fixed;
    z-index: 9999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
}
@media (max-width: 768px) {
    .modal {
        padding: 5px;
    }
}
.modal-content {
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 20px 40px;
    max-width: 600px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-name: animatetop;
    animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
}
@media (max-width: 768px) {
    .modal-content {
        padding: 5px;
    }
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
.close {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #0086b9;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    text-transform: uppercase;
}
.stp-form input {
    width: 100%;
    border-width: 0 0 1px 0;
    border-color: #ccc;
    outline: 0;
    margin-bottom: 15px;
}
.stp-form input::-webkit-input-placeholder {
    color: #000;
}
.stp-form input:-moz-placeholder {
    /* Firefox 18- */
    color: #000;
}
.stp-form input::-moz-placeholder {
    /* Firefox 19+ */
    color: #000;
}
.stp-form input:-ms-input-placeholder {
    color: #000;
}
.stp-form input[type=checkbox] {
    margin: 0;
}
.stp-form input[type=submit] {
    width: auto;
    float: right;
    font-size: 20px;
    line-height: 20px;
    background-color: #1cb0d1;
}
.stp-form input[type=submit]:hover {
    background-color: #1295b2;
}
.stp-form input[type=submit]:disabled {
    background-color: #ccc;
}
.stp-form textarea {
    outline: 0;
    height: 100px;
    width: 100%;
    border: 1px solid #ccc;
}
.stp-form .acceptance {
    width: 21px;
    display: inline-block;
    position: absolute;
}
.stp-form .acceptance + label {
    position: relative;
    left: 23px;
    margin: 0;
}
.stp-form .inline-label {
    padding-right: 20px;
}
.stp-form .inline-label + span {
    display: inline-block;
}
.tag-ctn {
    position: relative;
    height: 28px;
    padding: 0;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, -webkit-box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    cursor: default;
    display: block;
}
.tag-ctn-invalid {
    border: 1px solid #CC0000;
}
.tag-ctn-readonly {
    cursor: pointer;
}
.tag-ctn-disabled {
    cursor: not-allowed;
    background-color: #eeeeee;
}
.tag-ctn input {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    outline: none;
    display: block;
    padding: 4px 6px;
    line-height: normal;
    overflow: hidden;
    height: auto;
    border-radius: 0;
    float: left;
    margin: 2px 0 2px 2px;
}
.tag-ctn-disabled input {
    cursor: not-allowed;
    background-color: #eeeeee;
}
.tag-ctn .tag-input-readonly {
    cursor: pointer;
}
.tag-ctn .tag-empty-text {
    color: #000;
    width: 100% !important;
}
.tag-ctn input:focus {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    background: #FFF;
}
.tag-ctn .tag-trigger {
    float: right;
    width: 27px;
    height: 31px;
    position: absolute;
    right: -1px;
    top: -1px;
    background: #1cb0d1;
    cursor: pointer;
}
.tag-trigger .tag-trigger-ico {
    text-align: center;
    line-height: 31px;
    color: #fff;
}
.tag-trigger .tag-trigger-ico:before {
    content: "\e908";
}
.tag-trigger-ico,
.tag-close-btn {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.tag-ctn .tag-trigger:hover {
}
.tag-ctn .tag-trigger:hover .tag-trigger-ico {
    background-position: 0 -4px;
}
.tag-ctn-disabled .tag-trigger {
    cursor: not-allowed;
    background-color: #eeeeee;
}
.tag-res-ctn {
    position: absolute;
    background: #FFF;
    overflow-y: auto;
    z-index: 9999;
    -webkit-border-radius: 3px;
    left: -1px;
    border-radius: 3px;
    border: 1px solid #CCC;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, -webkit-box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.tag-res-ctn .tag-res-group {
    line-height: 23px;
    text-align: left;
    padding: 2px 5px;
    font-weight: bold;
    color: #000;
}
.tag-res-ctn .tag-res-item {
    line-height: 25px;
    text-align: left;
    padding: 2px 5px;
    color: #666;
    cursor: pointer;
}
.tag-res-ctn .tag-res-item-grouped {
    padding-left: 15px;
}
.tag-res-ctn .tag-res-item-active {
    background-color: #006ba1;
    color: #fff;
}
.tag-sel-ctn {
    overflow: auto;
    line-height: 23px;
    padding-right: 27px;
}
.tag-sel-ctn .tag-sel-item {
    background: #0086b9;
    color: #fff;
    float: left;
    font-size: 16px;
    padding: 0 5px;
    margin-left: 5px;
    margin-top: 4px;
}
.tag-sel-ctn .tag-sel-text {
    background: #FFF;
    color: #fff;
    padding-right: 0;
    margin-left: 0;
    font-size: 16px;
    font-weight: normal;
}
.tag-res-ctn .tag-res-item em {
    font-style: normal;
    background: #565656;
    color: #FFF;
}
.tag-sel-ctn .tag-sel-item:hover {
    background: #0086b9;
    cursor: default;
}
.tag-sel-ctn .tag-sel-text:hover {
    background: #FFF;
}
.tag-sel-ctn .tag-sel-item-active {
    border: 1px solid red;
    background: #757575;
}
.tag-ctn .tag-sel-ctn .tag-sel-item {
    margin-top: 3px;
}
.tag-stacked .tag-sel-item {
    float: inherit;
}
.tag-sel-ctn .tag-sel-item .tag-close-btn {
    cursor: pointer;
    font-size: 13px;
    margin-left: 5px;
}
.tag-sel-ctn .tag-sel-item .tag-close-btn:before {
    content: "\e606";
}
.tag-sel-ctn .tag-sel-item .tag-close-btn:hover {
    background-position: 0 -7px;
}
.tag-helper {
    color: #AAA;
    font-size: 10px;
    position: absolute;
    top: -17px;
    right: 0;
}
#job-links {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    font-size: 16px;
}
#job-links .tag-res-ctn,
#job-links .tag-trigger {
    display: none !important;
}
#job-links input {
    padding: 4px 6px 0 0;
    margin: 2px 0 2px 0;
}
#job-links .tag-sel-item + input {
    padding: 4px 6px 0 4px;
    margin: 2px 0 2px 2px;
}